/*define o estilo geral do corpo da página*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 0;
}

/*Estiliza o título principal*/
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/*Estiliza o formulário*/
form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/*Estiliza os rótulos dos campos*/
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/*Estiliza os campos de entrada de texto */
input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Estiliza o botão de envio */
button {
    background-color: #28a745;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 25%;
    margin: 0 auto;
}

/*Esiliza o botão de envio ao passar o mouse sobre ele*/
button:hover {
    background-color: #218838;
}

